---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>GBUGX (GBUX) - The Hacker Meme Coin</title>
		<link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
  		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js" defer onload="AOS.init({ duration: 800, once: true })"></script>
	</head>
	<body class="bg-black text-green-400 font-sans relative overflow-x-hidden">
		<slot />
	</body>
</html>
